@font-face {
  font-family: "NanumSquare";
  src: url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
  margin: 0px;
}

body {
  margin: 0px;
}

/* header 시작 */
#header {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(135, 135, 228);
  border: none;
  box-shadow: 5px 5px 5px #bbbbbb;
  z-index: 100;
}

.header-icon {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

#main {
  display: flex;
}

.logo {
  color: white;
  font-size: 30px;
  margin: 0px 100px;
}
/* header 끝 */

/* left-nav-bar 시작 */
#left-nav {
  width: 350px;
  height: 1000px;
  box-shadow: 5px 5px 5px #bbbbbb;
}

.main-container {
  width: 1000px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-title {
  font-family: "NanumSquare";
  font-size: 3.6rem;
  font-weight: bold;
  color: rgb(135, 135, 228);
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input:focus {
  outline: none;
}

.item-input-box {
  width: 500px;
  height: 30px;
  font-family: "NanumSquare";
  font-size: 2rem;
  color: white;
  background-color: rgb(135, 135, 228);
  border-radius: 10px;
  border: 4px solid rgb(135, 135, 228);
}

.item-box {
  width: 500px;
  height: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-family: "NanumSquare";
  font-size: 2rem;
  color: rgb(135, 135, 228);
  border-radius: 10px;
  border: 1px solid #bbbbbb;
}

.item-box img:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.check-box {
  width: 25px;
  height: 25px;
  margin: 0px 5px;
  border-radius: 50px;
}

.cancellation-line {
  color: #c4c4c4;
  text-decoration: line-through;
}

.item {
  margin: 0px 10px;
  line-height: 30px;
}

.item-delete {
  text-decoration: line-through;
}
