@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 10px;
  margin: 0px;
}

body {
  margin: 0px;
}

/* header 시작 */
#header {
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(135, 135, 228);
  border: none;
  box-shadow: 5px 5px 5px #bbbbbb;
  z-index: 100;
}

.header-icon {
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

#main {
  display: flex;
  height: auto;
}

.logo {
  color: white;
  font-size: 30px;
  margin: 0px 100px;
}
/* header 끝 */

/* left-nav-bar 시작 */
#left-nav {
  padding-top: 10px;
  width: 350px;
  height: 1000px;
  box-shadow: 5px 5px 5px #bbbbbb;
}

.default-category {
  margin: 0px 20px;
}

.left-nav-item {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  border-radius: 10px;
}

.left-nav-item-active {
  background-color: rgb(193, 193, 226);
}

.left-nav-left-area {
  display: flex;
  align-items: center;
}

.left-nav-img {
  display: flex;
  justify-content: center;
  width: 30px;
  color: rgb(135, 135, 228);
  font-size: 3rem;
}

.left-nav-title {
  font-family: "Pretendard-Regular";
  color: #444444;
  font-size: 2rem;
  padding-left: 20px;
}

.left-nav-count {
  font-family: "Pretendard-Regular";
  color: #444444;
  font-size: 2rem;
}

.left-nav-bar-middle-border {
  margin: 20px 20px;
<<<<<<< HEAD
  border-bottom: 2px solid #dddddd;
=======
  border: 1px solid #bbbbbb;
}

.user-category {
  margin: 0px 20px;
}

#input-category {
  width: 100%;
  height: 90%;
  border: none;
  background-color: rgb(193, 193, 226);
  font-family: "Pretendard-Regular";
  font-size: 1.6rem;
  color: white;
>>>>>>> db08350329de70f865fc1bafd4edd4a8c8068f6f
}
/* left-nav-bar 끝 */
/* main-container 시작 */
.main-container {
  width: 1000px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-title {
  font-family: "Pretendard-Regular";
  font-size: 3.6rem;
  font-weight: bold;
  color: rgb(135, 135, 228);
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input:focus {
  outline: none;
}

.item-input-box {
  width: 500px;
  height: 30px;
  font-family: "Pretendard-Regular";
  font-size: 2rem;
  color: white;
  background-color: rgb(135, 135, 228);
  border-radius: 10px;
  border: 4px solid rgb(135, 135, 228);
}

.item-box {
  width: 500px;
  height: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  font-family: "Pretendard-Regular";
  font-size: 2rem;
  color: rgb(135, 135, 228);
  border-radius: 10px;
  border: 1px solid #bbbbbb;
}

.item-box img:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.check-box {
  width: 25px;
  height: 25px;
  margin: 0px 5px;
  border-radius: 50px;
}

.cancellation-line {
  color: #c4c4c4;
  text-decoration: line-through;
}

.item {
  margin: 0px 10px;
  line-height: 30px;
}

.item-delete {
  text-decoration: line-through;
}
